.quick-action-item {
    display: flex;
    flex-direction: row; 
    button.ms-Link {
        padding-right: 2px;
        color:  var(--vscode-textLink-foreground);
        font-size:  13px;
        font-weight:  bold;
        text-overflow:  ellipsis;
        white-space:  nowrap;
        overflow-x:  hidden;
        line-height:  18px;
    }
}