.ui-create-select {
    &-indicator {
        &-clear,
        &-dropdown {
            display: flex;
            height: 16px;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
        &-loading {
            padding-right: 8px;
        }
    }
    &__option {
        &--is-focused {
            .ts-Menu-option--highlighted {
                color: var(
                    --vscode-editorSuggestWidget-focusHighlightForeground,
                    var(--vscode-list-focusHighlightForeground)
                );
            }
        }
    }
}
