# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Module: cds-odata-annotation-parser
/packages/cds-annotation-parser/ @SAP/ux-tools-annotations

# Module: cds-odata-annotation-converter
/packages/cds-odata-annotation-converter/ @SAP/ux-tools-annotations

# Module: i18n
/packages/i18n/ @SAP/ux-tools-i18n

# Module: create
/packages/create/ @SAP/ux-tools-create

# Module: store
/packages/store/ @SAP/ux-tools-store

# Module: fe-fpm-writer
/packages/fe-fpm-writer/ @SAP/ux-tools-fe-fpm-writer

# Module: fiori-freestyle-writer
/packages/fiori-freestyle-writer/ @SAP/ux-tools-fiori-freestyle-writer

# Module: fiori-elements-writer
/packages/fiori-elements-writer/ @SAP/ux-tools-elements-writer

# Module: eslint-plugin-fiori-tools
/packages/eslint-plugin-fiori-tools/ @SAP/ux-tools-fiori-freestyle-writer @SAP/ux-tools-elements-writer

# Module: logger
/packages/logger/ @SAP/ux-tools-logger

# Module: mockserver-config-writer
/packages/mockserver-config-writer/ @SAP/ux-tools-mockserver-config-writer

# Module: project-access
/packages/project-access/ @SAP/ux-tools-project-access

# Module: odata-service-writer
/packages/odata-service-writer/ @SAP/ux-tools-odata-service-writer

# Module: odata-annotation-core
/packages/odata-annotation-core/ @SAP/ux-tools-annotations

# Module: odata-annotation-core-types
/packages/odata-annotation-core-types/ @SAP/ux-tools-annotations

# Module: ui-components
/packages/ui-components/ @SAP/ux-tools-ui-components

# Module: ui-prompting
/packages/ui-prompting/ @SAP/ux-tools-ui-components

# Module: ui5-application-writer
/packages/ui5-application-writer/ @SAP/ux-tools-ui5-application-writer

# Module: ui5-config
/packages/ui5-config/ @SAP/ux-tools-ui5-config

# Module: yaml
/packages/yaml/ @SAP/ux-tools-yaml

# Module: ui5-proxy-middleware
/packages/ui5-proxy-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: backend-proxy-middleware
/packages/backend-proxy-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: preview-middleware
/packages/preview-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: preview-middleware-client
/packages/preview-middleware-client/ @SAP/ux-tools-middlewares-and-tasks

# Module: serve-static-middleware
/packages/serve-static-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: reload-middleware
/packages/reload-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: adp-tooling
/packages/adp-tooling/ @SAP/ux-tools-adp

# Module: deploy-tooling
/packages/deploy-tooling/ @SAP/ux-tools-deploy

# Module: control-property-editor
/packages/control-property-editor/ @SAP/ux-tools-control-property-editor

# Module: control-property-editor-common
/packages/control-property-editor-common/ @SAP/ux-tools-control-property-editor

# Module: odata-vocabularies
/packages/odata-vocabularies @SAP/ux-tools-annotations

# Module: xml-odata-annotation-converter
/packages/xml-odata-annotation-converter/ @SAP/ux-tools-annotations

# Module: odata-entity-model
/packages/odata-entity-model/ @SAP/ux-tools-annotations

# Module: fiori-annotation-api
/packages/fiori-annotation-api/ @SAP/ux-tools-annotations

# Module: fiori-annotation-api
/packages/annotation-generator/ @SAP/ux-tools-annotations

# Module: text-document-utils
/packages/text-document-utils/ @SAP/ux-tools-annotations

# Admin
/.github/ @SAP/ux-tools-admin
/.LICENSES/ @SAP/ux-tools-admin
/.well-known/ @SAP/ux-tools-admin
/.husky/ @SAP/ux-tools-admin
/.reuse/ @SAP/ux-tools-admin
/.eslintrc @SAP/ux-tools-admin
/.gitignore @SAP/ux-tools-admin
/.npmrc @SAP/ux-tools-admin
/.prettierignore @SAP/ux-tools-admin
/.prettierrc.js @SAP/ux-tools-admin
/LICENSE @SAP/ux-tools-admin
/package.json @SAP/ux-tools-admin
/sonar-project.properties @SAP/ux-tools-admin
/tsconfig.json @SAP/ux-tools-admin

# Docs
/docs/ @SAP/ux-tools-team
/CONTRIBUTING.md @SAP/ux-tools-team
/README.md @SAP/ux-tools-team

