# Override users global npmrc
registry = https://registry.npmjs.org/
@sap-ux:registry = https://registry.npmjs.org/
@sap:registry = https://registry.npmjs.org/
@sapux:registry = https://registry.npmjs.org/
@types:registry = https://registry.npmjs.org/

strict-ssl = true

