# Override users global npmrc
registry = https://registry.npmjs.org/
@sap-ux:registry = https://registry.npmjs.org/
@sap:registry = https://registry.npmjs.org/
@sapux:registry = https://registry.npmjs.org/
@types:registry = https://registry.npmjs.org/

audit = true
package-lock = true
strict-ssl = true
scripts-prepend-node-path = true
save-exact = true

save-prefix=''
stream=true
engine-strict=true
link-workspace-packages=true
