.quick-navigation {
    // Approach where we render helpers internally inside target containers
    &--inline [data-quick-navigation-key] {
        position: relative;
        &:before {
            content: attr(data-quick-navigation-key);
            font-family: var(--vscode-font-family);
            color: var(--vscode-activityBarBadge-foreground);
            font-size: 16px;
            position: absolute;
            top: -15px;
            left: -15px;
            background: var(--vscode-activityBarBadge-background);
            padding: 5px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
        }
    }
    // Approach where we render helpers externally outside target containers
    &--external > div {
        font-family: var(--vscode-font-family);
        color: var(--vscode-activityBarBadge-foreground);
        font-size: 16px;
        position: absolute;
        background: var(--vscode-activityBarBadge-background);
        padding: 5px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }
}
