// Copied over from App modeler
.ui-toolbar {
    // We do not need fixed if we use flexes
    position: static;
    top: initial;
    left: initial;
    &__container {
        overflow: hidden;
    }
    // Move to right edge
    .column-right {
        justify-content: flex-end;
        flex-grow: 0;
    }
    .column-left {
        overflow: hidden;
    }
    .ui-toolbar__content {
        justify-content: space-between;
        background-color: inherit;
        flex-wrap: nowrap;
        min-width: 0;
    }
    // Margins according to design
    .ui-toolbar__column__content {
        align-items: center;
        margin: 9px 15px;

        > .ms-Button:first-child {
            margin-left: 0;
        }
        > .ms-Button:last-child {
            margin-right: 0;
        }
    }
    .ui-divider {
        margin: 0;
    }
}
