@import '_variables.scss';
@import '_mixins.scss';

@mixin splitter-border($border, $horizontal: true) {
    @if $horizontal {
        border-left: $border;
        border-right: $border;
    } @else {
        border-top: $border;
        border-bottom: $border;
    }
}

$splitter-contrast-border: 1px solid var(--vscode-contrastBorder);
$splitter-hover-contrast-border: 1px dashed var(--vscode-contrastActiveBorder);
$splitter-focus-border: 1px solid var(--vscode-focusBorder);

$splitter-grip-color: var(--vscode-widget-border);
$splitter-highlight-color: var(--vscode-focusBorder);

.splitter {
    position: absolute;
    outline: none;

    // Grip
    &__grip {
        position: absolute;
        margin: auto;
        background-color: $splitter-grip-color;
        z-index: -1;
    }

    // Highligh hover and focus
    &:after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        margin: auto;
    }

    &--horizontal {
        top: 0;
        bottom: 0;
        cursor: col-resize;

        .splitter__grip {
            height: 100%;
            width: 1px;
            left: 0;
            right: 0;
        }

        &:after {
            width: 4px;
        }
    }

    &--vertical {
        cursor: row-resize;
        left: 0;
        right: 0;

        .splitter__grip {
            width: 100%;
            height: 1px;
            top: 0;
            bottom: 0;
        }

        &:after {
            height: 4px;
        }
    }

    &--toggle {
        cursor: pointer;

        .splitter__grip {
            position: absolute;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
        }
    }

    &--resize {
        &.splitter--horizontal {
            cursor: col-resize;
        }

        &.splitter--vertical {
            cursor: row-resize;
        }
    }

    & + .section {
        .section__header__title,
        .section__body {
            padding-left: calc($splitter-size / 2);
        }
    }

    &--toggle + .section {
        .section__header__title,
        .section__body {
            padding: 0;
            margin: 0;
        }
    }

    // Splitter focus style
    &:hover {
        &:after {
            // animation: fadeInAnimation 0.07s ease-in 0.3s forwards;
            background-color: $splitter-highlight-color;
            transition: background-color 0.07s ease-in 0.3s;
        }
    }
    &--horizontal {
    }

    &--vertical {
    }

    // Hide with animation for delay
    // ToDo???
    &--hidden {
        animation: 0.5s delayedFadeOut;
        animation-fill-mode: forwards;
    }

    i.ts-icon {
        display: flex;
        height: 100%;
        svg {
            height: 100%;
            width: 100%;
        }
    }

    &--active {
        &:after {
            background-color: $splitter-highlight-color;
        }
    }
}

.splitter__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;

    &--horizontal {
        cursor: col-resize;
    }

    &--vertical {
        cursor: row-resize;
    }
}

.ms-Fabric--isFocusVisible .splitter {
    &:focus {
        &:after {
            background-color: $splitter-highlight-color;
        }
    }
}
