@import "../../styles/_variables.scss";

.ui-treeDropdown {
    position: relative;

    &-with-label {
        margin-top: 29px;
    }
    &-wrapper {
        position: relative;
        input {
            padding: 0 26px 0 8px;
            font-family: var(--vscode-font-family);
        }
        // Decrease z-index for open menu button when component is disabled
        &.disabled > button {
            z-index: -1;
        }
        &.readonly > button {
            pointer-events: none;
        }
    }
    &-caret {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        right: 0;
        cursor: pointer;
        box-sizing: border-box;
        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
        }
    }

    label {
        position: absolute;
        bottom: 26px;
        margin-top: 0 !important;
        font-family: var(--vscode-font-family);
        font-size: 13px;
        font-weight: bold;
        box-sizing: border-box;
        box-shadow: none;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: block;
        padding: 4px 0;
        overflow-wrap: break-word;

        &.required {
            &:after {
                content: " *";
                color: var(--vscode-inputValidation-errorBorder);
            }
        }
        &.disabled {
            opacity: 0.4;
        }
    }
}
