.prompt-entries-wrapper-multi {
    margin: 0 5px 15px 0;
    max-width: 850px;
}

.prompt-entries-multi {
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
    padding-inline-start: 14px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.prompt-entries-group-multi {
    @extend .prompt-entries-multi;
    margin-left: 12px;
}
