.header,
.item {
    padding: 5px 15px 5px 15px;
}
.subHeader {
    width: 255px;
    line-height: 22px;
    // word-break: break-word;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
}
.item:hover {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    outline: 1px dashed var(--vscode-contrastActiveBorder);
    .actions {
        visibility: visible;
    }
}

.actions {
    visibility: hidden;
}
