.editor__outline {
    .section__body {
        margin: 0;
        padding-left: 0px !important;
        padding-right: 0px;
        overflow: hidden;
    }
    .tree-no-control-found {
        display: block;
    }
    .tree-modify-search-input {
        display: block;
        margin-bottom: 20px;
    }
}
