.editor__properties {
    .section__body {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding-left: 0px !important;
        padding-right: 0px;
    }
}
.editor__quickactions {
    .section__body {
        margin: 0px;
        padding-left: 0px !important;
        padding-right: 0px;
    }
}