.uiGuidedAnswerBox-callout {
    margin-top: 12px;
    max-height: 51px;
    cursor: pointer;

    &:hover {
        .ms-Callout-main,
        .ms-Callout-beak {
            background: var(--vscode-list-hoverBackground);
        }
        .uiGuidedAnswerBox-link {
            text-decoration: none;
        }
    }
    .ms-Callout-beak {
        left: 12px !important;
    }
}

.uiGuidedAnswerBox-subText {
    padding-top: 5px;
    font-size: 11px;
}

.uiGuidedAnswerBox-link {
    vertical-align: top;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 700;
    pointer-events: none;
}
