.uiGuidedAnswerBox-callout {
  margin-top: 12px;
  max-height: 51px;

  .ms-Callout-beak {
    left: 12px !important;
  }
}

.uiGuidedAnswerBox-subText {
  padding-top: 5px;
  font-size: 11px;
}
 
.uiGuidedAnswerBox-uiLink {
  vertical-align: top;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 700;
}
  