 .mode-switcher {
    display: flex;
    align-items: center;

    .ms-Button { 
        border-radius: 3px;
        margin-right: 1px;
        &-label {
            font-weight: bold;
        }
    }
 
    .ms-Label {
        margin-right: 10px;
    }
} 