:root {
    --salutationBar-margin-top: 1rem;
    --salutationBar-margin-right: 2rem;
    --salutationBar-margin-bottom: 0rem;
    --salutationBar-margin-left: 2rem;
}

.homeLayout.sapCuxBaseLayout {
    flex-direction: column;
}

.homeLayout.sapCuxBaseLayout section {
    display: block;
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    overflow: visible;
    flex: 0 0 auto;
}

.homeLayout .sapCuxNewsAndPagesContainer {
    grid-column: span 12;
}

.homeLayout .sapCuxNewsAndPagesContainer
.sapMST.Stretch.sapMSTLargeScreen
.sapMGT.Stretch.sapMGTArticleMode.sapMGTBackgroundImage
.sapMGTContent .sapMTileCnt.News .sapMTileCntContent {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.salutationBar.sapMIBar.sapMHeader-CTX {
    padding: 0.5rem 1rem;
    margin: var(--salutationBar-margin-top) var(--salutationBar-margin-right) var(--salutationBar-margin-bottom) var(--salutationBar-margin-left);
    border-radius: 0.625rem;
    border: 1px solid var(--sapShell_Category_1_BorderColor);
}

.salutationBar.salutationBar--heroBanner.sapMIBar.sapMHeader-CTX {
    margin: var(--salutationBar-margin-top) var(--salutationBar-margin-right) var(--salutationBar-margin-bottom) var(--salutationBar-margin-left);
    gap: var(--sapContent_Gap);
    box-sizing: border-box;
    padding: 1rem;
    width: var(--w, auto);
    height: var(--h, auto);
    border: none;
    background-color: var(--sapShell_HeroBanner_Background);
    background-image: var(--sapShell_HeroBanner_BackgroundImage);
    background-size: cover;
    background-position: top left;
    border-radius: var(--sapTile_BorderCornerRadius);
    box-shadow: var(--sapContent_Shadow0);

    & > * {
        margin-block: 0;
    }
}

.sapCuxBaseLayout.sapMPage .sapMPageHeader:not(.sapMIBar-CTX)::after {
    height: 0;
}

.salutationBar .sapMTitle,
.salutationBar .sapMText {
    color: var(--sapShell_Category_1_TextColor);
}

.salutationBar.salutationBar--heroBanner .sapMTitle,
.salutationBar.salutationBar--heroBanner .sapMText {
    color: var(--sapShell_HeroBanner_TextColor);
}


.salutationBar .hideOverflow {
    overflow: hidden;
    flex-shrink: 1;
}

.sapCuxGroupDetailDialog .sapMHeader-CTX.sapMIBar .sapMBarChild.sapMBtn {
    display: none;
}

.sapCuxNewsAndPagesContainer .sapMTileCnt.News .sapMNwCCTxt .sapMFT {
    font-family: 'SAP-icons-TNT', '72', '72full', Arial, Helvetica, sans-serif;
}

.sapMDialog[id$='-custNewsFeedDetailsDialog'] .sapMDialogTitle {
    font-family: 'SAP-icons-TNT', '72-Bold', '72-Boldfull', '72', '72full', Arial, Helvetica, sans-serif;
}

.terminalWarningsPopover .sapMPopoverHeader {
    border-bottom: 1px solid #e76500;
}

.terminalWarningsPopover .sapMMsgView .sapMMsgViewItem {
    padding-left: 1rem;
}

.terminalWarningsPopover .sapMMsgViewItem .sapUiIcon {
    display: none;
}

.newsListItemContainer {
    gap: 0rem;
}

.newsListItemContainer .sapMTitle {
    display: none;
}

.newsListItemContainer p:nth-child(1) {
    margin-top: 0rem;
}

.newsListItemContainer hr {
    border: none;
    border-top: 1px solid var(--sapGroup_ContentBorderColor, #d9d9d9);
    margin: 1rem 0;
}

.newsListItemContainer h2 {
    font-size: var(--sapFontHeader5Size, 1rem);
    margin: 0.5rem 0;
}

.newsListItemContainer h3 {
    margin: 0.5rem 0;
}

.sapCuxAppsContainer a[aria-label*='Manage News'] {
    display: none;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 599px) {
    :root {
        --salutationBar-margin-right: 0.5rem;
        --salutationBar-margin-left: 0.5rem;
        --salutationBar-margin-top: 0.5rem;
    }
}

/* Large Desktop */
@media (min-width: 1440px) {
    :root {
        --salutationBar-margin-right: 3rem;
        --salutationBar-margin-left: 3rem;
    }
}
