.UIActionCallout-callout {
    margin-top: 12px;
    max-height: 51px;
    cursor: pointer;
    border-color: var(--vscode-errorForeground);
    box-shadow: 0 4px 8px 0 var(--vscode-widget-shadow);
    background-color: var(--vscode-editor-background);

    &:hover {
        .ms-Callout-main,
        .ms-Callout-beak {
            background: var(--vscode-list-hoverBackground);
        }
        .UIActionCallout-link {
            text-decoration: none;
        }
    }
    .ms-Callout-beak {
        left: 12px !important;
        height: 15px;
        width: 15px;
    }
}

.UIActionCallout-subText {
    padding-top: 5px;
    font-size: 13px;
}

.UIActionCallout-link {
    vertical-align: top;
    padding-left: 5px;
    font-size: 13px;
    font-weight: 700;
    pointer-events: none;
}
