html,
body {
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
}

input {
    padding: 0 7px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--vscode-input-background) inset !important;
    -webkit-box-shadow: 0 0 0 1000px var(--vscode-input-background) inset !important;
    -webkit-text-fill-color: var(--vscode-foreground) !important;
    transition: background-color 9999s ease-in-out 0s;
}
