.loading-button {
    position: relative;
    pointer-events: none;
    .ms-Button-icon {
        visibility: hidden;
    }
    .ms-Spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
